
.navAzul{
    z-index:100;
    width: 100%;
}
.contenedor{
    width: 100%;
}
.userOptions{
    width: 40%;
    margin-left: 50%;
}
.logo{
    width: 20%;
    margin-left: 10%;
}
@media screen and (max-width:700px){
    .logo{
        margin-left: 0%;
    }
    .userOptions{
        margin-left: 60%;
    }
}
@media screen and (max-width:600px){
    .userOptions{
        margin-left:55%;
    }
}
@media screen and (max-width:500px){
    .userOptions{
        margin-left:45%;
    }
    .logo{
        width: 20%;
        font-size: 1em;
    }
}
@media screen and (max-width:375px){
    .userOptions{
        margin-left:40%;
    }
    .logo{
        margin-left:0;
        padding:0;
    }
}
@media screen and (max-width:340px){
    .userOptions{
        margin-left: 35%;
    }
}