.contenedorFormulario{
    position: absolute;
    background-image: url(../media/maps.jpg);
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contenedorFormulario1{
    height: 650px
}
.contenedorFormulario1{
    height: 550px
}
.formulario_div{
    position: relative;
    width: 62%;
    padding:4%;
    background-color: #007bff;
    color:#fff;
    top: 50px;
    left: 18%;
    border-radius: 10px;
}
.inputs{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    border: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
#boton_iniciar{
    margin-top: 20px;
    width: 40%;
    background:none;
    border: #fff solid 2px;
    color:#fff;
    border-radius: 8px;
    margin-left: 30%;
    transition: background-color ease 300ms;
    margin-bottom: 20px;
}
#boton_iniciar:hover{
    background-color:#fff;
    color:#007bff;
}
.formulario_div a{
    color: #fff;
}
#instruccion_correo{
    margin-left: 10%;
}
@media screen and (max-width:700px){
    .formulario_div{
        width: 100%;
        left: 0;
        border-radius: 0;
    }
    .contenedorFormulario{
        height: 350px;
    }
}