.info{
    padding:2%;
}
.info-image{
    padding-top: 2%;
    padding-bottom:2%;
}
body{
    margin: 0;
    padding:0;
}
.sinMargen{
    padding:0;
}
.logo_aerolineas_shortcut{
    margin-left:10%;
    width: 80%;
}
.link_ver_mas{
    color:rgb(0, 0, 0);
    width: 10%;
    margin-left:80%;
    border: rgb(0, 0, 0) solid 2px;
    border-radius:5px;
    padding-left: 1%;
    padding-right:1%;
    padding-top: .5%;
    padding-bottom:.5%;
}
.link_ver_mas:hover{
    background:rgb(0, 0, 0);
    color:#ffffff;
}
.aerolineas{
    padding-bottom: 10px;
}
.ver_mas_aerolineas{
    padding-left: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#aerolinea1{
    background: rgb(221, 221, 221);
}
#aerolinea2{
    background:rgb(255, 193, 193);
}
#aerolinea3{
    background: #5c0632;
}
.inputs_formulario{
    width: 70%;
    margin-left: 15%;
    border-radius:5px;
    margin-top: 10px;
}
#tituloContacto h2{
    text-align: center;
}
#button-enviar{
    width: 20%;
    background: none;
    border:#fff solid 2px;
    margin-left: 40%;
    border-radius: 5px;
    color:#fff;
    margin-top: 20px;
}
#button-enviar:hover{
    background-color:#fff;
    color:#007bff;
}
.formulario{
    padding-top:50px;
    padding-bottom: 50px;
}
@media screen and (max-width:787px){
    .link_ver_mas{
        margin-left:70%;
    }
}
@media screen and (max-width:400px){
    .link_ver_mas{
        margin-left:65%;
    }
}